@media(max-width: 700px){
    .header-logo{
        font-size: 24px;
    }
    .friend{
        width:50%;
    }
    .like{
        width: 50%;
    }
    .footer{
        width: 100%;
        text-align: center;
    }
}
