@media(max-width: 670px){
    .top-wrapper{
        width:100%;
        text-align:center;
        font-size:24px;
    }
    .header-logo{
        font-size: 24px;
    }
    .friend{
        width:100%;
    }
    .like{
        width: 100%;
    }
    .footer{
        width: 100%;
        text-align: center;
    }
}
