*{
    box-sizing: border-box;
}

div{
    display: block;
}
.header{
    background-color: gray;
    height: 90px;
    width: 100%;
    display: block;
}
.header-logo{
    font-size: 36px;
    color:springgreen;
    padding: 20px 40px;
    float:left;
}
li{
   list-style: none;
   color:springgreen;
   padding:33px 20px;
}
.top-wrapper{
    background-image: url(https://github.com/rakiii7/rakiii7.github.io/blob/main/background.jpg?raw=true);
    background-size: cover;
    text-align:center;
    padding: 180px 0;
    color:darkred;
}
.container{
    width:100%;
    margin: 0 auto;
}
.friend-wrapper{
    height: 420px;
    text-align: center;
    background-color: rgba(189, 189, 189, 0.616);
}
h1{
    font-size: 45px;
}
p{
    font-size: 25px;
}
.heading-f h2{
    padding: 40px 0;
    text-align: center;
    color: darkred;
    font-weight: bold;
    font-size: 30px;
    margin: auto;
}
.friend{
    float: left;
    width: 20%;
}
.friend-icon{
    position: relative;
    z-index: 10;
}
.friend p{
    color:darkviolet;
    position: absolute;
    width: 100%;
    top:45px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    opacity: 0.7;
    letter-spacing:5px;
}
.text-contants1{
    display: inline-block;
    padding-top: 5px;
    color: darkviolet;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 5px;
}

.clear{
    clear: left;
}
.heading-l h2{
    font-size: 30px;
    padding: 40px 0;
    text-align: center;
    color: darkred;
    font-weight: bold;
    margin: auto;
}
.like-wrapper{
    height: 450px;
    text-align: center;
    background-color: rgba(189, 189, 189, 0.616);
}
.like{
    float: left;
    width: 20%;
}
.like-icon{
    position: relative;
    z-index: 10;
}
.like-icon p{
    color:rgb(234, 250, 14);
    position: absolute;
    width: 100%;
    top:45px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    opacity: 0.7;
    letter-spacing:5px;
}
.text-contants2{
    display: inline-block;
    padding-top: 5px;
    color: darkviolet;
    font-weight: bold;
    font-size: 15px;
    
}
.footer{
    width: 100%;
    display: block;
    background-image: url(https://github.com/rakiii7/rakiii7.github.io/blob/main/me.jpg?raw=true);
    background-size: cover;
    text-align:center;
    padding: 180px 0;
    color:darkred;
}

.footer p{
    color: springgreen;
    font-size: 30px;
    font-weight: bold;
}
.clear{
    clear: left;
}
@media all and (max-width: 670px){
    .header{
        height:none;
        width:100%;
    }
    .header-logo{
        float:none;
    }
    li{
        float:none;
        font-size:20px;
    }
    .top-wrapper{
        width:100%;
        text-align:center;
        font-size:30px;
        padding: 130px 0;
    }
    .container{
      width:100%;
    }
    .friend-wrapper{
        text-align:center;
    }
    h1{
        font-size:25px;
    }
    p{
        font-size:15px;
    }
    .headeing-f h2{
        padding:20px 0;
        font-size:15px;
    }
    .friend{
        float:none;
        width:100%
    }
    .friend p{
        font-size:25px;
    }
     .text-contents1{
        font-size: 14px;
    }
    .heading-l h2{
        padding:20px 0;
        font-size:15px;
    }
    .like-wrapper{
        text-align:center;
    }
    .like{
        float:none;
        width:100%;
    }
    .like p{
        font-size:12px;
    }
    .text-contants2{
        font-size:11px;
    }
    .frienf-icon{
        float:none;
        width:100%;
    }
    .like-icon{
        flaot:none;
        width:100%;
    }
    
    .footer{
        width: 100%;
        text-align: center;
        font-size:15px;
    }
}
